{# twig template navbar #}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ index }}.php">Conference system</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% for url,desc in pages %} {% if (url!='login') %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url }}.php">{{ desc }}</a></li>
                </ul>
            {% endif %} {% endfor %}


            {% if (login=='login') %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.php">Login</a></li>
                </ul>
            {% endif %}
            {% if (login=='logout') %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="logout()">Logout</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-text">
                    <li>
                      User: {{ user | trim }}
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" id="message-container"></div>